<mat-sidenav-container class="sidenav-container secondary">
  <mat-sidenav #drawer class="sidenav tertiary" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="libre-bold">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" class="libre">Link 1</a>
      <a mat-list-item href="#" class="libre">Link 2</a>
      <a mat-list-item class="libre" *ngIf="!isLogged" [routerLink]="['/auth/register']"> Register </a>
      <a mat-list-item class="libre" *ngIf="!isLogged" [routerLink]="['/auth/login']"> Log in </a>
      <a mat-list-item class="libre" *ngIf="isLogged" (click)="logout()"> Log out </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="libre-bold" [routerLink]="['/home']" role="button">Hope Hospital</span>
    </mat-toolbar>
    
    <!-- CONTENT IS RENDERED HERE -->
    <router-outlet></router-outlet>

    <footer class="flex-shrink-0 pb-4 text-white-50 mt-auto">
      <div class="container text-center">
        <small class="libre-italic" style="color:black;">PSW 2022-2023 &copy;</small>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
