<mat-sidenav-container class="secondary" autosize style="height: 100%;">
  <mat-sidenav #sidenav class="primary main-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon mat-list-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
        <p matLine *ngIf="isExpanded" class="libre-italic">Menu</p>
      </a>
      <div class="main-menu-items">
        <a mat-list-item [routerLink]="['/home']" role="button">
          <mat-icon mat-list-icon>home</mat-icon>
          <p matLine *ngIf="isExpanded" class="libre-italic">Home</p>
        </a>
        <a *ngIf="isLogged" mat-list-item class="libre" [routerLink]="['/appointments']" id="appointments">
          <mat-icon mat-list-icon>calendar_month</mat-icon>
          <p matLine *ngIf="isExpanded" class="libre-italic">My appointments</p>  
        </a>
      </div>
      <div class="bottom-menu-items">
        <a *ngIf="!isLogged" mat-list-item class="libre" [routerLink]="['/auth/login']" id="appointments">
          <mat-icon mat-list-icon>login</mat-icon>
          <p matLine *ngIf="isExpanded" class="libre-italic">Login</p>  
        </a>
        <a *ngIf="isLogged" mat-list-item class="libre" (click)="logout()" id="appointments">
          <mat-icon mat-list-icon>logout</mat-icon>
          <p matLine *ngIf="isExpanded" class="libre-italic">Logout</p>  
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-toolbar primary">
      <mat-icon class="icon-secondary me-3">local_hospital</mat-icon>
      <span class="main-toolbar-title font-color-secondary libre-bold"><b>Hope Hospital</b></span>
      <mat-divider [vertical]="true"></mat-divider>
      <span class="spacer"></span>
    </mat-toolbar>
    
    <!-- CONTENT IS RENDERED HERE -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
