@font-face {
    font-family: 'Libre Baskerville';
    src: url('src/assets/fonts/Regular/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Libre Baskerville Italic';
    src: url('src/assets/fonts/Italic/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Libre Baskerville Bold';
    src: url('src/assets/fonts/Bold/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  .libre {
    font-family: 'Libre Baskerville';
    font-weight: normal;
    font-style: normal;
  }
  
  .libre-italic {
    font-family: 'Libre Baskerville Italic';
  }
  
  .libre-bold {
    font-family: 'Libre Baskerville Bold';
  }