<div class="grid-container">
  <mat-grid-list rows="2" cols="1" rowHeight="400px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <br>
        <mat-card-header>
          <mat-card-title class="libre-bold">
            Welcome
          </mat-card-title>
        </mat-card-header>
        <hr><br>
        <mat-card-content class="dashboard-card-content">
          <h1 class="libre-italic">Hope Hospital is a 206-bed regional medical center serving Novi Sad County. It is a major academic affiliate of Novi Sad School of Medicine and a member of WHO (World Health Association).

            Since opening in 1967, Hope Hospital has evolved into a progressive medical center and teaching institution with an internal medicine residency.
            
            We represent all medical specialties and offer a wide range of medical, surgical, diagnostic and wellness programs. High-quality care, coupled with Hope Hospital’s convenient location, are reasons many patients choose to be treated here.</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <br>
        <mat-card-header>
          <mat-card-title class="libre-bold">
            Feedback
          </mat-card-title>
        </mat-card-header>
        <hr><br>
        <mat-card-content class="dashboard-card-content">
          <div class="libre">Feedback list here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
