@import url('../../../../assets/fonts/fonts.css');
@import url('../../../../assets/colors/palette.css');


.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

.big-icon {
  transform: scale(2);
}