<div class="grid-container">

        <mat-card class="dashboard-card primary m-5">
          <br>
          <mat-card-header>
            <mat-card-title class="libre-bold">
              Upcoming appointments
            </mat-card-title>
            <a [routerLink]="['/appointments/create-with-recommendation']" style="margin-left: auto;margin-top: -10px">
              <button mat-raised-button class="secondary libre">Create appointment with recommendation</button>
            </a>
            <a [routerLink]="['/appointments/create-step-by-step']" style="margin-left: auto;margin-top: -10px">
              <button mat-raised-button class="secondary libre">Create appointment step-by-step</button>
            </a>
          </mat-card-header>
          <hr><br>
          <mat-card-content class="dashboard-card-content">
            <table class="table table-striped libre" id="upcomingAppointmentsTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Scheduled for</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Room</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Room name</th>
                    <th scope="col">Cancel</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let app of upcomingAppointments; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{app.startTime | date:'dd.MM.yyyy. HH:mm'}}</td>
                    <td>{{app.doctorFullName}}</td>
                    <td>{{app.roomId}}</td>
                    <td>{{app.floorId}}</td>
                    <td>{{app.roomName}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm btn-block" (click)="cancelAppointment(i)" id="{{i}}">Cancel</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card primary m-5">
          <br>
          <mat-card-header>
            <mat-card-title class="libre-bold">
              Past appointments
            </mat-card-title>
          </mat-card-header>
          <hr><br>
          <mat-card-content class="dashboard-card-content">
            <table class="table table-striped libre" id="pastAppointmentsTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Scheduled for</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Room</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Room name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pastApp of pastAppointments; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{pastApp.startTime | date:'dd.MM.yyyy. HH:mm'}}</td>
                    <td>{{pastApp.doctorFullName}}</td>
                    <td>{{pastApp.roomId}}</td>
                    <td>{{pastApp.floorId}}</td>
                    <td>{{pastApp.roomName}}</td>
                  </tr>
                </tbody>
              </table>
          </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card primary m-5">
          <br>
          <mat-card-header>
            <mat-card-title class="libre-bold">
              Cancelled appointments
            </mat-card-title>
          </mat-card-header>
          <hr><br>
          <mat-card-content class="dashboard-card-content">
            <table class="table table-striped libre" id="cancelledAppointmentsTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Scheduled for</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Room</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Room name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cancelledApp of cancelledAppointments; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{cancelledApp.startTime | date:'dd.MM.yyyy. HH:mm'}}</td>
                    <td>{{cancelledApp.doctorFullName}}</td>
                    <td>{{cancelledApp.roomId}}</td>
                    <td>{{cancelledApp.floorId}}</td>
                    <td>{{cancelledApp.roomName}}</td>
                  </tr>
                </tbody>
              </table>
          </mat-card-content>
        </mat-card>

  </div>
